Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, facilis magni blanditiis provident itaque recusandae veritatis. Similique, ab cupiditate. Voluptatibus illo ab harum ducimus in unde nobis impedit quos commodi?

app.post("/login", passport.authenticate('local', function(err, user) {
    if (!user) { 
        req.flash("error", "You are yet signed up");
        return res.redirect('/'); 
    }
    req.flash("error", "You are Logged In");
    res.end('Authenticated!');
  })(req, res));