</div>

<footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
      <a href="" uk-totop uk-scroll></a>
      </p>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/uikit.js"></script>
    <script src="/js/uikit-icons.js"></script>
<script src="/js/bootstrap.min.js"></script>

    </body>
</html>